# Endpoint of Keyfactor Platform
endPoint: "{{ keyfactor_url }}"

# Name of certificate authorization for enroll Istio's Workload Certificate
caName: "{{ ca_name }}"

# Using for authentication header: "Basic ...."
authToken: "Basic {{ auth_token }}"

# API path for enroll new certificate from Keyfactor
enrollPath: "{{ enroll_path }}"

# Certificate Template for enroll Istio's Workload Certificate: Default is Istio
caTemplate: "{{ ca_template }}"

# ApiKey from Api Setting, for enroll Istio's Workload Certificate
appKey: "{{ app_key }}"

# ApiKey for auto provisioning TLS server / client certificates
# key istio application
provisioningAppKey: "{{ app_key }}"

# key KMS Test
# CA Template for auto provisioning TLS server / client certificates
provisioningTemplate: "{{ ca_template }}"